[submodule "MasterWireTools"]
	path = MasterWireTools
	url = git@github.com:opensourcegarden/MasterWireTools.git
[submodule "NeoPixel"]
	path = NeoPixel
	url = git@github.com:opensourcegarden/NeoPixel.git
[submodule "OSGArduino"]
	path = OSGArduino
	url = git@github.com:goslund/OSGArduino.git
[submodule "OSGEthernetTools"]
	path = OSGEthernetTools
	url = git@github.com:opensourcegarden/OSGEthernetTools.git
